@import 'variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.x-symbol {
  color: $primary-color;
}

.o-symbol {
  color: $secondary-color;
}

.btn-base {
  font-size: 1rem;
  color: white;
  background: $secondary-color;
  border-radius: 30px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: $primary-color;
  }

  &:active {
    transform: scale(0.95);
  }
}
