$font-family: 'Mali', cursive;

$primary-color: #1d4a96;
$primary-color-light: rgba(166, 193, 238, 1);
$primary-color-lighter: rgba(166, 193, 238, 0.5);
$secondary-color: #d70e9f;
$secondary-color-light: rgba(251, 194, 235, 1);
$secondary-color-lighter: rgba(251, 194, 235, 0.5);
$info-color: #2196F3;
$error-color: #f44336;
$warning-color: #ff9800;
