{{page-title "Tic-Tac-Toe"}}
<div class="container">
  <Board />
  <NewGame @showModal={{this.showNewGameModal}} />
  <Result @showModal={{this.showResultModal}} />
  <ToastDisplay />
  <Loading/>
</div>

